yolo_dataset/images/train/snap_002.jpg
yolo_dataset/images/train/snap_003.jpg
yolo_dataset/images/train/snap_004.jpg
yolo_dataset/images/train/snap_006.jpg
yolo_dataset/images/train/snap_007.jpg
yolo_dataset/images/train/snap_008.jpg
yolo_dataset/images/train/snap_009.jpg
yolo_dataset/images/train/snap_010.jpg
yolo_dataset/images/train/snap_011.jpg
yolo_dataset/images/train/snap_012.jpg
yolo_dataset/images/train/snap_013.jpg
yolo_dataset/images/train/snap_014.jpg
yolo_dataset/images/train/snap_017.jpg
yolo_dataset/images/train/snap_019.jpg
yolo_dataset/images/train/snap_020.jpg
yolo_dataset/images/train/snap_021.jpg
yolo_dataset/images/train/snap_022.jpg
yolo_dataset/images/train/snap_024.jpg
yolo_dataset/images/train/snap_025.jpg
yolo_dataset/images/train/snap_026.jpg
yolo_dataset/images/train/snap_027.jpg
yolo_dataset/images/train/snap_028.jpg
yolo_dataset/images/train/snap_029.jpg
yolo_dataset/images/train/snap_030.jpg
yolo_dataset/images/val/snap_001.jpg
yolo_dataset/images/val/snap_005.jpg
yolo_dataset/images/val/snap_015.jpg
yolo_dataset/images/val/snap_016.jpg
yolo_dataset/images/val/snap_018.jpg
yolo_dataset/images/val/snap_023.jpg
yolo_dataset/labels/train.cache
yolo_dataset/labels/val.cache
yolo_dataset/labels/train/snap_002.txt
yolo_dataset/labels/train/snap_003.txt
yolo_dataset/labels/train/snap_004.txt
yolo_dataset/labels/train/snap_006.txt
yolo_dataset/labels/train/snap_007.txt
yolo_dataset/labels/train/snap_008.txt
yolo_dataset/labels/train/snap_009.txt
yolo_dataset/labels/train/snap_010.txt
yolo_dataset/labels/train/snap_011.txt
yolo_dataset/labels/train/snap_012.txt
yolo_dataset/labels/train/snap_013.txt
yolo_dataset/labels/train/snap_014.txt
yolo_dataset/labels/train/snap_017.txt
yolo_dataset/labels/train/snap_019.txt
yolo_dataset/labels/train/snap_020.txt
yolo_dataset/labels/train/snap_021.txt
yolo_dataset/labels/train/snap_022.txt
yolo_dataset/labels/train/snap_024.txt
yolo_dataset/labels/train/snap_025.txt
yolo_dataset/labels/train/snap_026.txt
yolo_dataset/labels/train/snap_027.txt
yolo_dataset/labels/train/snap_028.txt
yolo_dataset/labels/train/snap_029.txt
yolo_dataset/labels/train/snap_030.txt
yolo_dataset/labels/val/snap_001.txt
yolo_dataset/labels/val/snap_005.txt
yolo_dataset/labels/val/snap_015.txt
yolo_dataset/labels/val/snap_016.txt
yolo_dataset/labels/val/snap_018.txt
yolo_dataset/labels/val/snap_023.txt
runs/detect/train/args.yaml
runs/detect/train2/args.yaml
runs/detect/train3/args.yaml
runs/detect/train4/args.yaml
runs/detect/train4/BoxF1_curve.png
runs/detect/train4/BoxP_curve.png
runs/detect/train4/BoxPR_curve.png
runs/detect/train4/BoxR_curve.png
runs/detect/train4/confusion_matrix_normalized.png
runs/detect/train4/confusion_matrix.png
runs/detect/train4/labels.jpg
runs/detect/train4/results.csv
runs/detect/train4/results.png
runs/detect/train4/train_batch0.jpg
runs/detect/train4/train_batch1.jpg
runs/detect/train4/train_batch2.jpg
runs/detect/train4/train_batch80.jpg
runs/detect/train4/train_batch81.jpg
runs/detect/train4/train_batch82.jpg
runs/detect/train4/val_batch0_labels.jpg
runs/detect/train4/val_batch0_pred.jpg
runs/detect/train4/weights/best.pt
runs/detect/train4/weights/last.pt
yolov8n.pt
