yolo_dataset/*
yolo_dataset/images/train/snap_003.jpg
yolo_dataset/images/train/snap_004.jpg
yolo_dataset/images/train/snap_006.jpg
yolo_dataset/images/train/snap_007.jpg
yolo_dataset/images/train/snap_008.jpg
yolo_dataset/images/train/snap_009.jpg
yolo_dataset/images/train/snap_010.jpg
yolo_dataset/images/train/snap_011.jpg
yolo_dataset/images/train/snap_012.jpg
yolo_dataset/images/train/snap_013.jpg
yolo_dataset/images/train/snap_014.jpg
yolo_dataset/images/train/snap_017.jpg
yolo_dataset/images/train/snap_019.jpg
yolo_dataset/images/train/snap_020.jpg
yolo_dataset/images/train/snap_021.jpg
yolo_dataset/images/train/snap_022.jpg
yolo_dataset/images/train/snap_024.jpg
yolo_dataset/images/train/snap_025.jpg
yolo_dataset/images/train/snap_026.jpg
yolo_dataset/images/train/snap_027.jpg
yolo_dataset/images/train/snap_028.jpg
yolo_dataset/images/train/snap_029.jpg
yolo_dataset/images/train/snap_030.jpg
yolo_dataset/images/val/snap_001.jpg
yolo_dataset/images/val/snap_005.jpg
yolo_dataset/images/val/snap_015.jpg
yolo_dataset/images/val/snap_016.jpg
yolo_dataset/images/val/snap_018.jpg
yolo_dataset/images/val/snap_023.jpg
yolo_dataset/labels/train.cache
yolo_dataset/labels/val.cache
yolo_dataset/labels/train/snap_002.txt
yolo_dataset/labels/train/snap_003.txt
yolo_dataset/labels/train/snap_004.txt
yolo_dataset/labels/train/snap_006.txt
yolo_dataset/labels/train/snap_007.txt
yolo_dataset/labels/train/snap_008.txt
yolo_dataset/labels/train/snap_009.txt
yolo_dataset/labels/train/snap_010.txt
yolo_dataset/labels/train/snap_011.txt
yolo_dataset/labels/train/snap_012.txt
yolo_dataset/labels/train/snap_013.txt
yolo_dataset/labels/train/snap_014.txt
yolo_dataset/labels/train/snap_017.txt
yolo_dataset/labels/train/snap_019.txt
yolo_dataset/labels/train/snap_020.txt
yolo_dataset/labels/train/snap_021.txt
yolo_dataset/labels/train/snap_022.txt
yolo_dataset/labels/train/snap_024.txt
yolo_dataset/labels/train/snap_025.txt
yolo_dataset/labels/train/snap_026.txt
yolo_dataset/labels/train/snap_027.txt
yolo_dataset/labels/train/snap_028.txt
yolo_dataset/labels/train/snap_029.txt
yolo_dataset/labels/train/snap_030.txt
yolo_dataset/labels/val/snap_001.txt
yolo_dataset/labels/val/snap_005.txt
yolo_dataset/labels/val/snap_015.txt
yolo_dataset/labels/val/snap_016.txt
yolo_dataset/labels/val/snap_018.txt
yolo_dataset/labels/val/snap_023.txt
runs/*
runs/detect/train2/args.yaml
runs/detect/train3/args.yaml
runs/detect/train4/args.yaml
runs/detect/train4/BoxF1_curve.png
runs/detect/train4/BoxP_curve.png
runs/detect/train4/BoxPR_curve.png
runs/detect/train4/BoxR_curve.png
runs/detect/train4/confusion_matrix_normalized.png
runs/detect/train4/confusion_matrix.png
runs/detect/train4/labels.jpg
runs/detect/train4/results.csv
runs/detect/train4/results.png
runs/detect/train4/train_batch0.jpg
runs/detect/train4/train_batch1.jpg
runs/detect/train4/train_batch2.jpg
runs/detect/train4/train_batch80.jpg
runs/detect/train4/train_batch81.jpg
runs/detect/train4/train_batch82.jpg
runs/detect/train4/val_batch0_labels.jpg
runs/detect/train4/val_batch0_pred.jpg
runs/detect/train4/weights/best.pt
runs/detect/train4/weights/last.pt
yolov8n.pt
yolo_dataset/images/train/snap_031.jpg
yolo_dataset/images/train/snap_032.jpg
yolo_dataset/images/train/snap_033.jpg
yolo_dataset/images/train/snap_034.jpg
yolo_dataset/images/train/snap_035.jpg
yolo_dataset/images/train/snap_036.jpg
yolo_dataset/images/train/snap_037.jpg
yolo_dataset/images/train/snap_038.jpg
yolo_dataset/images/train/snap_039.jpg
yolo_dataset/images/train/snap_040.jpg
yolo_dataset/images/train/snap_041.jpg
yolo_dataset/images/train/snap_042.jpg
yolo_dataset/images/train/snap_043.jpg
yolo_dataset/images/train/snap_044.jpg
yolo_dataset/images/train/snap_045.jpg
yolo_dataset/images/train/snap_046.jpg
yolo_dataset/images/train/snap_047.jpg
yolo_dataset/images/train/snap_048.jpg
yolo_dataset/images/train/snap_049.jpg
yolo_dataset/images/train/snap_050.jpg
yolo_dataset/images/train/snap_051.jpg
yolo_dataset/images/train/snap_052.jpg
yolo_dataset/images/train/snap_053.jpg
yolo_dataset/images/train/snap_054.jpg
yolo_dataset/images/train/snap_055.jpg
yolo_dataset/images/train/snap_056.jpg
yolo_dataset/images/train/snap_057.jpg
yolo_dataset/images/train/snap_058.jpg
yolo_dataset/images/train/snap_059.jpg
yolo_dataset/images/train/snap_060.jpg
yolo_dataset/images/train/snap_061.jpg
yolo_dataset/images/train/snap_062.jpg
yolo_dataset/images/train/snap_063.jpg
yolo_dataset/images/train/snap_064.jpg
yolo_dataset/images/train/snap_065.jpg
yolo_dataset/images/train/snap_066.jpg
yolo_dataset/labels/train/snap_031.txt
yolo_dataset/labels/train/snap_032.txt
yolo_dataset/labels/train/snap_033.txt
yolo_dataset/labels/train/snap_034.txt
yolo_dataset/labels/train/snap_035.txt
yolo_dataset/labels/train/snap_036.txt
yolo_dataset/labels/train/snap_037.txt
yolo_dataset/labels/train/snap_038.txt
yolo_dataset/labels/train/snap_039.txt
yolo_dataset/labels/train/snap_040.txt
yolo_dataset/labels/train/snap_041.txt
yolo_dataset/labels/train/snap_042.txt
yolo_dataset/labels/train/snap_043.txt
yolo_dataset/labels/train/snap_044.txt
yolo_dataset/labels/train/snap_045.txt
yolo_dataset/labels/train/snap_046.txt
yolo_dataset/labels/train/snap_047.txt
yolo_dataset/labels/train/snap_048.txt
yolo_dataset/labels/train/snap_049.txt
yolo_dataset/labels/train/snap_050.txt
yolo_dataset/labels/train/snap_051.txt
yolo_dataset/labels/train/snap_052.txt
yolo_dataset/labels/train/snap_053.txt
yolo_dataset/labels/train/snap_054.txt
yolo_dataset/labels/train/snap_055.txt
yolo_dataset/labels/train/snap_056.txt
yolo_dataset/labels/train/snap_057.txt
yolo_dataset/labels/train/snap_058.txt
yolo_dataset/labels/train/snap_059.txt
yolo_dataset/labels/train/snap_060.txt
yolo_dataset/labels/train/snap_061.txt
yolo_dataset/labels/train/snap_062.txt
yolo_dataset/labels/train/snap_063.txt
yolo_dataset/labels/train/snap_064.txt
yolo_dataset/labels/train/snap_065.txt
yolo_dataset/labels/train/snap_066.txt
detection/__pycache__/*
segmentation/__pycache__/*
runs/detect/predict/template_screenshot.jpg
runs/detect/train5/args.yaml
runs/detect/train6/args.yaml
runs/detect/train6/labels.jpg
runs/detect/train6/results.csv
runs/detect/train6/train_batch0.jpg
runs/detect/train6/train_batch1.jpg
runs/detect/train6/train_batch2.jpg
runs/detect/train6/weights/best.pt
runs/detect/train6/weights/last.pt
runs/detect/train7/args.yaml
runs/detect/train7/BoxF1_curve.png
runs/detect/train7/BoxP_curve.png
runs/detect/train7/BoxPR_curve.png
runs/detect/train7/BoxR_curve.png
runs/detect/train7/confusion_matrix_normalized.png
runs/detect/train7/confusion_matrix.png
runs/detect/train7/labels.jpg
runs/detect/train7/results.csv
runs/detect/train7/results.png
runs/detect/train7/train_batch0.jpg
runs/detect/train7/train_batch1.jpg
runs/detect/train7/train_batch2.jpg
runs/detect/train7/train_batch450.jpg
runs/detect/train7/train_batch451.jpg
runs/detect/train7/train_batch452.jpg
runs/detect/train7/val_batch0_labels.jpg
runs/detect/train7/val_batch0_pred.jpg
runs/detect/train7/weights/best.pt
runs/detect/train7/weights/last.pt
runs/detect/val/BoxF1_curve.png
runs/detect/val/BoxP_curve.png
runs/detect/val/BoxPR_curve.png
runs/detect/val/BoxR_curve.png
runs/detect/val/confusion_matrix_normalized.png
runs/detect/val/confusion_matrix.png
runs/detect/val/val_batch0_labels.jpg
runs/detect/val/val_batch0_pred.jpg
yolo_dataset/images/train/snap_067.jpg
yolo_dataset/images/train/snap_068.jpg
yolo_dataset/images/train/snap_069.jpg
yolo_dataset/images/train/snap_070.jpg
yolo_dataset/images/train/snap_071.jpg
yolo_dataset/images/train/snap_072.jpg
yolo_dataset/images/train/snap_073.jpg
yolo_dataset/images/train/snap_074.jpg
yolo_dataset/images/train/snap_075.jpg
yolo_dataset/images/train/snap_076.jpg
yolo_dataset/images/train/snap_077.jpg
yolo_dataset/labels/train/snap_067.txt
yolo_dataset/labels/train/snap_068.txt
yolo_dataset/labels/train/snap_069.txt
yolo_dataset/labels/train/snap_070.txt
yolo_dataset/labels/train/snap_071.txt
yolo_dataset/labels/train/snap_072.txt
yolo_dataset/labels/train/snap_073.txt
yolo_dataset/labels/train/snap_074.txt
yolo_dataset/labels/train/snap_075.txt
yolo_dataset/labels/train/snap_076.txt
yolo_dataset/labels/train/snap_077.txt
